.animation,
.animation_layer {
  height: 1000px;
}

.animation {
  display: block;
  position: relative;
  z-index: 10;
}

.animation_layer {
  background-position: bottom center;
  background-size: auto 1038px;
  background-repeat: repeat-x;
  width: 100%;
  position: absolute;
}
.animation_layer.parallax {
  position: fixed;
}

#strd {
  width: 100%;
  height: auto;
  filter: grayscale(100%);
  opacity: 0.6;
}

#white {
  background-image: url(./images/whitebg.png);
}

#bg3 {
  background-image: url(./images/bg3.png);
}

#paper {
  background-image: url(./images/bg2.png);
}

#bg-uncut {
  background-image: url(./images/bg-uncut.png);
}

#bg-cut {
  background-image: url(./images/bg-cut.png);
}

#overlay {
  background-image: url(./images/overlay.png);
}

#title2 {
  background-image: url(./images/title2.png);
}

/* #title {
  background-image: url(./images/title.png);
} */

/* #title-stroke {
  background-image: url(./images/title-stroke.png);
} */

#acc11 {
  background-image: url(./images/acc1.png);
}

#acc22 {
  background-image: url(./images/acc2.png);
}

#acc33 {
  background-image: url(./images/acc3.png);
}

#acc44 {
  background-image: url(./images/acc4.png);
}

#acc55 {
  background-image: url(./images/acc5.png);
}

#pg2-bg {
  background-image: url(./images/pg2-bg.png);
}

@media (max-width: 768px) {
  .animation,
  .animation_layer {
    height: 50vh;
  }

  .animation_layer {
    background-size: cover;
  }
}
