.container4 {
  max-width: 100%;
  max-height: 50vw;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container1 {
  flex: 1;
  order: 2;
}

.image1 {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
  width: 100%;
  height: auto;
}

.content-container1 {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  flex: 1;
  padding-left: 40px;
  margin-right: 20px;
}

.title1 {
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  padding-top: 20px;
  font-size: 3vw;
  font-weight: bold;
}

.sub-title1 {
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  font-size: 2.25vw;
  font-style: italic;
}

.description1 {
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 1.5vw;
}

@media (max-width: 1000px) {
  .container4 {
    flex-direction: column-reverse;
  }

  .image-container {
    margin-bottom: 0;
  }

  .content-container {
    margin-left: 0;
  }
}
